<form action="signup" method="post">
	<label>Name:</label><input name="login" type="text">
	<label>Pass:</label><input name="pass" type="password">
	<label>Pass confirmation:</label><input name="pass_conf" type="password">
	<input type="submit">
</form>